.catalog-listing {
  float:left;
  margin:1em 7px;
}

.catalog-listing a {
  display:block;
  width: 102px;
  border:1px #ddd solid;
  text-decoration:none;
}

.catalog-listing a:hover {
  border-color:#666;
}

.catalog-listing img {
  width:100px;
  border:1px white solid;
}
.catalog-listing span {
  font-size:.8em;
  border-top:1px #ddd solid;
  display:block;
  text-align:center;
}